table{
    width: 100%;
    border: 1px solid #ccc;
    border-spacing: 1px;
    font-size: larger;
}
table td{
    padding: 15px;
    background-color: #eee;
    border: 1px solid #ccc;
}
table thead td{
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-color: red;
    font-size: x-large;
}
.id{
    border: 1px solid #ebebeb;
    background-color: #088aa1;
    font-size: x-large;
    color: #ffffff;
    text-align: center;
    padding: 1px;
}
caption{
    font-size: x-large;
}